<h1>Listing Patients</h1>
<% if @patients.empty?  %>
<p style="color:#900"><i>------ No patients to list----</i></p>

<% else %>
<table>
  <tr>
    <th>Patient Name</th>
    <th>Email</th>
  </tr>

<% for patient in @patients %>
  <tr style="color:#000;">
      <td><%=h patient.first_name %> <%=h patient.last_name %></td>
      <td><%=h patient.email %></td>
      <td><%= link_to 'Show', patient %></td>
      <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
      <td><%= link_to 'Destroy', patient, :confirm => 'Are you sure?',
            :method => :delete %></td> 

  </tr>
<% end %>
</table>
<% end %>
<p><%= link_to 'Add new Patient', new_patient_path,:class => "add_button round" %></p>